* {
    box-sizing: border-box;
}

html {
    background-color: white;
}

header {
    background-color: darkred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


nav div {
    margin: 0;
    padding: 0;
}

nav div div {
    float: left;
    position: relative;
}

nav div div a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: white;
    text-decoration: none;
}

nav div div a:hover {
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    border: 1px solid white;
}

.login {
    color: white;
    padding-right: 30px;
}

#submenu {
    display: none;
}

main {
    padding: 30px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: inline-block;
    background-color: white;
    margin: 10px;
    padding: 20px;
    flex: 10%;
    text-align: justify;
}

h3 {
    text-align: center;
}

img.ordenador {
    height: 250px;
    width: 300px;
    display: block;
    margin: auto;
    padding: 20px;
}


button {
    padding: 10px;
    background-color: lightgrey;
    border-radius: 20%;
    border: white;
}

button:hover {
    background-color: gray;
}