.navOp {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #444;
}

ul{
    list-style: none;
}

.listado li a{
    color: white;
}

.listado li a:hover{
    color: #e33c13;
}

svg,
.navOp:hover,
a:hover {
    color: #e33c13;
}