.navOp {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #444;
}

ul{
    list-style: none;
}

.listado li a{
    color: white;
}

.listado li a:hover{
    color: #e33c13;
}

h1,
svg,
.navOp:hover,
a:hover {
    color: #e33c13;
}

.botones{
    background-color: #e33c13;
    color: white;
    border: none;
} 

.botones:hover{
    color: #e33c13;
    background-color: white;
    border: none;
} 