* {
    box-sizing: border-box;
}

/* Enlaces sin subrayado ni color azul */
a {
    text-decoration: none;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    display: flex;
    min-height: 90px;
    background-color: rgb(226, 226, 226);
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.icono_logo {
    height: 65px;
}

/* Barra de navegación */
.navegador a {
    padding-right: 10px;
    font-weight: 200;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Cambia de color cuando el raton pasa por encima */
.navegador :hover {
    color: dimgray;
}

/* Principal */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

main a div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

main div img {
    height: 350px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

main div .rectangulo {
    width: 350px;
    height: 80px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #008573;
    background: linear-gradient(360deg, rgba(0, 133, 115, 1) 35%, rgba(254, 254, 254, 0) 89%);
}

.rectangulo h2 {
    color: white;
}

main a:hover {
    opacity: 0.7;
}

/* Pie de página */
footer {
    height: 40px;
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    background: #dd524f;
}

footer{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

footer .enlaces{
    grid-area: 2 / 2 / 3 / 3;
}

footer .enlaces a{
    color: white;
}

footer .enlaces a img {
    width: 5px;
}

footer .enlaces a {
    padding-left: 5px;
    padding-right: 5px;
}

footer .enlaces :hover {
    color: rgb(100, 0, 0);
}

footer .redes{
    grid-area: 2 / 3 / 3 / 4;
}

footer .redes i{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

footer .redes i:hover{
    color: rgb(100, 0, 0);
}

/* Adaptación de tamaños */
/* @media only screen and (max-width: 700px) {
    header{
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .icono_logo{
        height: 90px;
    }

    nav{
        padding: 10px 0px;
    }

    nav a {
        padding: 5px;
    }
  } */